@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}
/* Spotlight styles */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes enter {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  98% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.spotlight {
  position: fixed;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #00000011;
  pointer-events: none;
}
.sectionHeading {
    background-color: #112340ff!important;
}

.dense-grid {
  grid-auto-rows: minmax(100px, auto);
}
.card-container {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
}

.front-side,
.back-side {
  backface-visibility: hidden;
  position: absolute;
}

